<div class="panel" id="spy5">
    <div class="panel-heading">
        <span class="panel-title">dashboard</span>
    </div>
    <div class="panel-body pn">
        <p>this is dashboard page</p>
    </div>
</div>