
 {{#section 'css'}}
<link type="text/css" rel="stylesheet" href="/assets/bookstore/css/register.css"> {{/section}} {{#section 'js'}}
<script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
    $('#ok').hide();
    $('#confirm').keyup(function () {
        var password = $('#password').val();
        var confirm = $('#confirm').val();
        if (password === confirm && password !== '' && confirm !== '') {
            $('#ok').show();
            $('#diff').hide();
        }
        else {
            $('#ok').hide();
            $('#diff').show();
        }
    });

    $('#password').keyup(function () {
        var password = $('#password').val();
        var confirm = $('#confirm').val();
        if (password === confirm && password !== '' && confirm !== '') {
            $('#ok').show();
            $('#diff').hide();
        }
        else {
            $('#ok').hide();
            $('#diff').show();
        }
    });

    $('#notify').fadeIn('slow');
    setTimeout(() => {
        $('#notify').fadeOut(2500);
        setTimeout(() => {
            $('#notify').remove();
        }, 1500);
    }, 3000);
</script> {{/section}}

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a>Account</a>
            </li>
            <li class="active">Đổi mật khẩu</li>
        </ul>
    </div>
</div>

<div id="section" class="section">
    <!-- container -->
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside widget -->
                <div class="aside">
                    <h3 class="aside-title">TÀI KHOẢN</h3>
                    <ul class="list-links">
                        <li>
                            <a href="/profile">Thông tin tài khoản</a>
                        </li>
                        <li>
                            <a href="/cart">Quản lý giỏ hàng</a>
                        </li>
                        <li>
                            <a href="/changepassword">Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a href="/history">Lịch sử mua hàng</a>
                        </li>
                    </ul>
                </div>
                <!-- /aside widget -->
                <!-- aside widget -->
                <div class="aside">
                    <img style="max-width: 100%" class="img-a" src="/assets/bookstore/img/aside/01.jpg" alt="">
                </div>
                <div class="aside">
                    <img style="max-width: 100%" class="img-a" src="/assets/bookstore/img/aside/02.jpg" alt="">
                </div>
            </div>
            <!-- /ASIDE -->

            <!-- MAIN -->
            <!-- MAIN -->
            <div id="main" class="col-md-9">
                <form id="checkout-form" class="clearfix" method="post">
                    <div class="col-md-6">
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">ĐỔI MẬT KHẨU</h3>
                            </div>
                            <div class="form-group">
                                <input  class="input" type="password" required="true" name="curPassword" placeholder="Nhập mật khẩu hiện tại">
                            </div>
                            <div class="form-group">
                                <input id="password" class="input" type="password" required="true" name="newPassword" placeholder="Nhập mật khẩu mới">
                            </div>
                            <div style="margin-bottom: 2px !important;" class="form-group">
                                <input id="confirm" class="input" type="password" required="true" name="confNewPassword" placeholder="Nhập lại mật khẩu mới">
                            </div>
                            <p id="ok" style="color: green; font-size: 12px; margin: 0 0 -4px !important;">Khớp mật khẩu</p>
                            <p id="diff" style="color: green; font-size: 12px; margin: 0 0 -4px !important;">&nbsp;</p>
                            <div style="text-align: right">
                                <button type="submit" id="save-password-btn" class="primary-btn">SAVE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="section-title"></div>
                        <div style="color: red; text-align: right">(*): bắt buộc</div>
                    </div>
                </form>
            </div>
            <!-- /MAIN -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

{{#if error}}
<div class="alert alert-danger" id="notify" style="
                position: fixed;
                top: 100px;
                right: 0px;
                z-index: 99999;
                display: none;
                ">
    <strong>ERROR!!!</strong>
    error occurred please try again
</div>
{{/if}}

{{#if success}}
<div class="alert alert-success" id="notify" style="
                position: fixed;
                top: 100px;
                right: 0px;
                z-index: 99999;
                display: none;
                ">
    <strong>Your password has been changed successfully!</strong>
</div>
{{/if}}