
{{#with users}}
<div class="panel" id="spy5">
    <div class="panel-heading">
        <span class="panel-title">reset {{Fullname}}'s password</span>
    </div>
    <div class="panel-body pn">
        <form action="" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <div class="table-responsive">
                <div class="bs-component">
                    <button type="submit" title="reset" class="btn btn-md btn-danger">
                        reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{{/with}}