<div class="col-lg-12">
    <div class="form-horizontal">
        <section class="panel">
            <div class="panel-heading col-sm-8">
                <span class="panel-title">add new brand</span>
            </div>
            <form action="" method="post">
                <div id="user-detail-form" class="panel-body" style="padding-right:0px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name </label>
                        <div class="col-sm-9" style="width: 700px;">
                            <input id="" name="name" type="text" class="form-control" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description </label>
                        <div class="col-sm-9" style="width: 700px;">
                            <input id="" name="description" type="text" class="form-control" value="" />
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" id="" class="btn btn-primary">
                                <i style="cursor:pointer" class="fa fa-save"></i>
                                SAVE
                            </button>
                            <a href="/admin/brands" id="" type="button" class="btn btn-default">
                                <i class="fa fa-arrow-circle-left"></i>
                                BACK
                            </a>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
    </div>
</div>